body {
  flex: 1 1 auto;
  flex-wrap: wrap;
}

h1 {
  white-space: normal;
  line-height: 1.1;
}

li{
  border-radius: 0.5rem;
}

#BigLogo {
  width: 64px;
  float: right;
  border-radius: 0.5rem;
  line-height: 1.1;
  vertical-align: middle;
  margin-top: auto;
  margin-bottom: auto;
}

#footer {
  text-align: center;
}

.TweakList {
  color: #959595;
  padding-left: 0.5em;
}
